

body{
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(1,2,71);
    background: linear-gradient(90deg, rgba(1,2,71,1) 0%, rgb(15, 0, 99) 50%, rgb(216, 91, 33) 100%);
    animation:  fade-in 1.5s forwards; /* 1 second swoop-in animation duration, 0.5 second fade-in animation duration */
}


.part{
    margin: 0;
    padding: 0;
    position:relative;
    top: -10px;
    font-size: 10px;
}

#logo-header {
    position: relative;
    left: -100px; /* start position */
    opacity: 0; /* start with 0 opacity */
    animation: swoop-in 4s forwards, fade-in 4.5s forwards; /* 1 second swoop-in animation duration, 0.5 second fade-in animation duration */
  }
  
  @keyframes swoop-in {
    from {
      left: -100px; /* start position */
    }
    to {
      left: 0; /* end position */
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0; /* start with 0 opacity */
    }
    to {
      opacity: 1; /* end with 100% opacity */
    }
  }
  




.stopwatch {
    position: relative;
    top: -23px;
    left: -40px;
    font-size: 20px;
    animation: spin-fade-in 0.5s ease-in-out forwards;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .stopwatch.active {
    animation: spin-fade-in 0.5s ease-in-out forwards;
    opacity: 1;
  }

  .stopwatch2 {
    position: relative;
    top: 6px;
    font-size: 20px;
    animation: spin-fade-in 0.5s ease-in-out forwards;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .stopwatch2.active {
    animation: spin-fade-in 0.5s ease-in-out forwards;
    opacity: 1;
  }
  
  @keyframes spin-fade-in {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }
    50% {
      transform: rotate(180deg) scale(1.2);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 1;
    }
  }
  
  .fade-out {
    opacity: 0;
  }
  
.bench-head{
    font-size: 10px;
    vertical-align: top;
    position:relative;
    padding-bottom: 0;
    top:-8px;
    margin: 0;
}

.r2r{
    font-size: 15px;
    margin: 0;
    padding: 0;
    position:relative;
    top: -3px;
    right:-35px
}

.r2r2{
    font-size: 15px;
    margin: 0;
    padding: 0;
    position:relative;
    top: -1px;
}

#logo{
    display: inline-block;
    margin-left: 35%;
    margin-right: auto;
    width: 20px%;
    padding-left: 10px;
    padding-right: 5px;    
}

#radar{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    margin-bottom: 34px;  
}

.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0;
    justify-content: center;
    row-gap: 0;
    width: fit-content;
    margin: 0 auto;
}

@keyframes pop-spin {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1) rotate(180deg);
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }

  #R2QA-total{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 80px;
    font-size: 45px;
    margin-left: 35%;
    margin-top: 50px;
    height: 80px;
    line-height: 80px;
    width: 350px;
    background-color: rgb(52, 216, 208);
    border: solid black 4px;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    position: relative;
    opacity: 0; /* start with 0 opacity */
    animation:  fade-in 1.5s forwards; /* 1 second swoop-in animation duration, 0.5 second fade-in animation duration */
  }



.bench0{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 60px;
    width: 130px;
    background-color: rgb(214, 12, 12);
    border: solid black 3px;
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
        animation: flash-light-red-to-red 3.5s ease-in-out infinite, 
                   pop 0.7s ease-in-out forwards, 
                   shake 0.7s ease-in-out 0.7s infinite;
}

@keyframes flash-light-red-to-red {
    0% {
        background-color: rgb(122, 1, 1);
    }
    50% {
      background-color: rgb(255, 0, 0);
    }
    100% {
        background-color: rgb(122, 1, 1);
    }
  }


.bench5{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 100px;
    width: 80px;
    background-color: rgb(214, 12, 12);
    border: solid black 3px;
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
}

.bench6{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 100px;
    width: 80px;
    background-color: rgb(214, 150, 12);
    border: solid black 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
}

.bench7{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 100px;
    width: 80px;
    background-color: rgb(235, 250, 22);
    border: solid black 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
}

.bench3{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 60px;
    width: 130px;
    background-color: rgb(255, 167, 73);
    border: solid black 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
}

.bench4{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 60px;
    width: 130px;
    background-color: rgb(255, 255, 77);
    border: solid black 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
}

@keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }

.bench2:hover, .bench:hover, #R2QA-total:hover {
    scale: 1.05;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5), -4px -4px 5px rgba(0, 0, 0, 0.5);
}


.bench {
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 100px;
    width: 80px;
    min-width: max-content;
    background-color: grey;
    border: solid rgb(255, 255, 255) 3px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
  }
  
.bench0:hover, .bench3:hover, .bench4:hover, .bench5:hover, .bench6:hover, .bench7:hover {
    scale: 1.05;
    transform: translate(2px, 2px);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5), -4px -4px 5px rgba(0, 0, 0, 0.5);
  }


.bench2{
    border-radius: 5px;
    font-size: 8px;
    margin: 1px;
    height: 60px;
    width: 130px;
    min-width: max-content;
    background-color: grey;
    border: solid rgb(255, 255, 255) 3px;
    text-align: center;
    color: rgb(255, 255, 255)
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255,255,255,0.4);
    transition: all 0.2s ease-in-out;
}

.bench-head{
    margin: 10px;
}

#b1{
    grid-column: 2;
    grid-row: 4;
}

#b2{
    grid-column: 2;
    grid-row: 3;
}

#b3{
    grid-column: 2;
    grid-row: 2
}

#b4{
    grid-column: 2;
    grid-row: 1;
}

#b5{
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

#b6{
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}

#b7{
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
}


#b8{
    grid-column: 1;
    grid-row: 4;
}


#p1{
    grid-column: 4;
    grid-row: 1;
    align-self: end;
}

#p2{
    grid-column: 5;
    grid-row: 1;
    align-self: end;
}

#p3{
    grid-column: 6;
    grid-row: 1;
    align-self: end;
}

#p4{
    grid-column: 7;
    grid-row: 1;
    align-self: end;
}

#p5{
    grid-column: 7;
    grid-row: 2;
}

#p6{
    grid-column: 6;
    grid-row: 2;
}


#p7{
    grid-column: 5;
    grid-row: 2;
}

#p8{
    grid-column: 4;
    grid-row: 2;
}

#r1{
    grid-column: 4;
    grid-row: 3;
    align-self: end;
}

#r2{
    grid-column: 5;
    grid-row: 3;
    align-self: end;
}

#r3{
    grid-column: 6;
    grid-row: 3;
    align-self: end;
}

#r4{
    grid-column: 7;
    grid-row: 3;
    align-self: end;
}

#r5{
    grid-column: 7;
    grid-row: 4;
}

#r6{
    grid-column: 6;
    grid-row: 4;
}


#r7{
    grid-column: 5;
    grid-row: 4;
}

#r8{
    grid-column: 4;
    grid-row: 4;
}

#g1{
    grid-column: 2;
    grid-row: 1;
}
#g2{
    grid-column: 2;
    grid-row: 2;
}
#g3{
    grid-column: 2;
    grid-row: 3;
}
#g4{
    grid-column: 2;
    grid-row: 4;
}
#g7{
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}
#g6{
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
}

#g5{
    grid-column: 1;
    grid-row: 4;
    justify-self: end;
}

#g8{
    grid-column: 1;
    grid-row: 1;
}

#c1{
    grid-column: 4;
    grid-row: 1;
    align-self: end;
}

#c2{
    grid-column: 5;
    grid-row: 1;
    align-self: end;
}

#c3{
    grid-column: 6;
    grid-row: 1;
    align-self: end;
}

#c4{
    grid-column: 7;
    grid-row: 1;
    align-self: end;
}

#c5{
    grid-column: 7;
    grid-row: 2;
}

#c6{
    grid-column: 6;
    grid-row: 2;
}


#c7{
    grid-column: 5;
    grid-row: 2;
}

#c8{
    grid-column: 4;
    grid-row: 2;
}

#y1{
    grid-column: 4;
    grid-row: 3;
    align-self: end;
}

#y2{
    grid-column: 5;
    grid-row: 3;
    align-self: end;
}

#y3{
    grid-column: 6;
    grid-row: 3;
    align-self: end;
}

#y4{
    grid-column: 7;
    grid-row: 3;
    align-self: end;
}

#y5{
    grid-column: 7;
    grid-row: 4;
}

#y6{
    grid-column: 6;
    grid-row: 4;
}


#y7{
    grid-column: 5;
    grid-row: 4;
}

#y8{
    grid-column: 4;
    grid-row: 4;
}